 body {
            font-family: Arial;
            background: #f5f5f5;
            text-align: center;
            padding-top: 40px;

        }
        .box {
            width: 370px;
            background: #fafbfa;
            padding: 25px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
            background-color: #e0f7fa;
        }
        button {
            padding: 10px 18px;
            margin: 10px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 8px;
            border: none;
            background-color: #4CAF50;
            color: white;

        }

         input {
            padding: 10px;
            width: 200px;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            outline: none;

        }
        #message {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
            color: #333;


        }
        .status {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            font-size: 18px;
            color: #333;

        }
        .subtitle {
            font-size: 20px;
            margin-bottom: 15px;
            color: #333;

        }
        #currentLevel {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
